@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.work{
 width: 70px;
 color:#3366ff;
 border:1px solid #3366ff;
 border-radius: 4px;
background-color: #eff3ff;
margin-right: 2px;
margin-left: 2px;
}

.other{
    width: 70px;
    color:#0095ff;
    border:1px solid #0095ff;
    border-radius: 4px;
   background-color: #eff3ff;
   margin-right: 2px;
    margin-left: 2px;
   }

   .office{
    width: 70px;
    color:#ffac00;
    border:1px solid #ffac00;
    border-radius: 4px;
   background-color: #eff3ff;
   margin-right: 2px;
    margin-left: 2px;
   }

   .learning{
    width: 70px;
    color:#7c4dff;
    border:1px solid #7c4dff;
    border-radius: 4px;
   background-color: #eff3ff;
   margin-right: 2px;
    margin-left: 2px;
   }


   .nb-icn{
    cursor: pointer;
}
