<nb-layout>
    <nb-layout-header fixed style="background-color:#FFF;border-bottom: 1px solid #D0D0D0;">
   <div style="width:100%;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;">
    <span style="font-size: 26px;font-family: 'Exo', sans-serif;">Timely</span>
   <nb-user name="{{userName}}"
   title="{{userEmail}}"
   [nbContextMenu]="items"
   nbContextMenuTag="my-context-menu"></nb-user>
   </div>
    </nb-layout-header>
    <nb-sidebar state="compacted">
      <nb-icon class="nb-icn" nbTooltip="Add a task" routerLink="addtask" nbTooltipPlacement="right" nbTooltipIcon="plus-circle-outline" icon="plus-circle-outline"></nb-icon>
      <br>
      <hr>
      <br>
      <nb-icon class="nb-icn" nbTooltip="View all tasks" routerLink="viewtasks" nbTooltipPlacement="right" nbTooltipIcon="calendar-outline" icon="calendar-outline"></nb-icon>
      <br>
      <hr>
      <br>
      <nb-icon class="nb-icn" nbTooltip="Analytics" nbTooltipPlacement="right" routerLink="analytics" nbTooltipIcon="bar-chart-outline" icon="bar-chart-outline"></nb-icon>
      <br>
      <hr>
      <br>
      <nb-icon class="nb-icn" nbTooltip="Settings" routerLink="settings" nbTooltipPlacement="right" nbTooltipIcon="options-2-outline" icon="options-2-outline"></nb-icon>
      <br>
      <hr>
      <br>
    </nb-sidebar>
    <nb-layout-column style="background: #edf0f4;;padding: 1.25rem 2.25rem 0.75rem;">
      <router-outlet></router-outlet>
    </nb-layout-column>
    <nb-layout-footer fixed style="font-size:30px;font-size:18px;font-family: 'Exo', sans-serif;">
        Developed by Devesh Chatuphale
    </nb-layout-footer>
  </nb-layout>