


<nb-layout>
    <!-- <nb-layout-header fixed style="background-color:#FFF;border-bottom: 1px solid #D0D0D0;">
   <span style="font-size: 26px;font-family: 'Exo', sans-serif;">Timely</span>
    </nb-layout-header> -->
    <nb-layout-column style="  background-image: url('/assets/imgs/sticky-note.jpg');padding: 1.25rem 2.25rem 0.75rem;  opacity: 0.5;  background-size: 100% 100%;">
        <div style="text-align: center;">
            <div style="width: 30%;margin: auto;">
            <nb-flip-card>
                <nb-card-front>
                  <nb-card style="height: 28rem;margin-top: 5%;">
                    <nb-card-header class="title-hdr">
                        Timely
                    </nb-card-header>
                    <nb-card-body>
                      <div style="margin: 1rem;">
                        <form #signin="ngForm" (ngSubmit)="signinUser(signin.value)">
                    <nb-list>
                        <nb-list-item>
                            <input type="email" name="email" ngModel style="width: 100%;font-family: 'Exo', sans-serif;" nbInput status="info" placeholder="Enter email">
                        </nb-list-item>
                        <nb-list-item>
                            <input type="password" name="password" ngModel style="width: 100%;font-family: 'Exo', sans-serif;" nbInput status="info" placeholder="Enter password">
                        </nb-list-item>
                        <nb-list-item>
                            <button *ngIf="!loaderFlag" type="submit" style="margin:auto;" hero nbButton status="info">Signin</button>
                            <img *ngIf="loaderFlag" style="margin: auto;width: 30px;"  src="assets/imgs/Rolling-1s-200px.svg"/>
                        </nb-list-item>
                    </nb-list>
                </form>
                    </div>
                    </nb-card-body>
                    <nb-card-footer class="text-right">
                        <span style="padding-right: 20px;vertical-align: text-bottom;font-family: 'Poppins', sans-serif;">New user ? Sign up now !</span>
                    </nb-card-footer>
                  </nb-card>
                </nb-card-front>
                <nb-card-back>
                  <nb-card style="height: 28rem;margin-top: 5%;">
                    <nb-card-header class="title-hdr">
                        Timely
                    </nb-card-header>
                    <nb-card-body>
                        <!-- style="max-height: 21rem;height: 21rem !important;" -->
                        <div style="margin: 1rem;">
                            <form #signup="ngForm" (ngSubmit)="signupUser(signup.value)">
                                    <div>
                                    <div class="marg-tb d-flex flex-row justify-content-around" style="width: 100%;">
                                        <div style="width: 50%;text-align: right;">
                                            <input type="text" name="firstName" ngModel style="width: 150px;font-family: 'Exo', sans-serif;" nbInput status="info" placeholder="First name">
                                        </div>
                                        <div style="width: 50%;text-align: left;">
                                            <input type="text" name="lastName" ngModel style="width: 150px;font-family: 'Exo', sans-serif;" nbInput status="info" placeholder="Last name">
                                        </div>
                                    </div>
                                    <div class="marg-tb" style="width: 100%;">
                                        <input type="email" name="email" ngModel style="width: 300px;font-family: 'Exo', sans-serif;" nbInput status="info" placeholder="Enter email">
                                    </div>
                                    <div class="marg-tb" style="width: 100%;">
                                        <input type="text" name="contactNo" ngModel style="width: 300px;font-family: 'Exo', sans-serif;" nbInput status="info" placeholder="Enter Contact No">
                                    </div>
                                    <div class="marg-tb" style="width: 100%;">
                                        <input type="password" name="password" ngModel style="width: 300px;font-family: 'Exo', sans-serif;" nbInput status="info" placeholder="Enter password">
                                    </div>
                                    <div class="marg-tb" style="width: 100%;">
                                        <input type="password" name="cnfPassword" ngModel style="width: 300px;font-family: 'Exo', sans-serif;" nbInput status="info" placeholder="Confirm password">
                                    </div>
                                </div>
                               
                                    <button *ngIf="!loaderFlag" style="margin:auto;" hero nbButton status="info">Sign Up</button>
                                    <img *ngIf="loaderFlag" style="margin: auto;width: 30px;"  src="assets/imgs/Rolling-1s-200px.svg"/>
                                </form>
                            </div>
                    </nb-card-body>
                    <nb-card-footer class="text-right">
                        <span style="padding-right: 20px;vertical-align: text-bottom;font-family: 'Poppins', sans-serif;"> Back to login</span>
                    </nb-card-footer>
                  </nb-card>
                </nb-card-back>
              </nb-flip-card>
              </div>
        </div>
    </nb-layout-column>
    <nb-layout-footer fixed style="font-size:30px;font-size:18px;font-family: 'Exo', sans-serif;">
        Developed by Devesh Chatuphale
    </nb-layout-footer>
  </nb-layout>