


<nb-layout>
    <nb-layout-header fixed style="background-color:#FFF;border-bottom: 1px solid #D0D0D0;">
   <span style="font-size: 26px;font-family: 'Exo', sans-serif;">Tasksapp</span>
    </nb-layout-header>
    <nb-layout-column style="background: #edf0f4;padding: 1.25rem 2.25rem 0.75rem;">
        <div style="text-align: center;">
            <div style="width: 30%;margin: auto;">
            <nb-flip-card>
                <nb-card-front>
                  <nb-card>
                    <nb-card-header>
                        Welcome !
                    </nb-card-header>
                    <nb-card-body>
                      <div style="margin: 1rem;">
                    <nb-list>
                        <nb-list-item>
                            <input style="width: 100%;" nbInput placeholder="Enter email">
                        </nb-list-item>
                        <nb-list-item>
                            <input style="width: 100%;" nbInput placeholder="Enter password">
                        </nb-list-item>
                        <nb-list-item>
                            <button style="margin:auto;" hero nbButton status="info">Signin</button>
                        </nb-list-item>
                    </nb-list>
                    </div>
                    </nb-card-body>
                    <nb-card-footer class="text-right">
                        <span style="padding-right: 20px;vertical-align: text-bottom;">New user ? Sign up now !</span>
                    </nb-card-footer>
                  </nb-card>
                </nb-card-front>
                <nb-card-back>
                  <nb-card>
                    <nb-card-header>
                        Welcome !
                    </nb-card-header>
                    <nb-card-body>
                        <div style="margin: 1rem;">

                                    <div class="">
                                    <div class="marg-tb d-flex flex-row justify-content-around" style="width: 100%;">
                                        <input class="marg-rt" style="width: 50%;" nbInput placeholder="First name"> <input class="marg-lt" style="width: 50%;" nbInput placeholder="Last name">
                                    </div>
                                    <div class="marg-tb" style="width: 100%;">
                                        <input style="width: 100%;" type="email" nbInput placeholder="Enter email">
                                    </div>
                                    <div class="marg-tb" style="width: 100%;">
                                        <input style="width: 100%;" nbInput placeholder="Enter Contact No">
                                    </div>
                                    <div class="marg-tb" style="width: 100%;">
                                        <input style="width: 100%;" type="password" nbInput placeholder="Enter password">
                                    </div>
                                </div>
                               
                                    <button style="margin:auto;" hero nbButton status="info" (click)="signup()">Sign Up</button>
                            </div>
                    </nb-card-body>
                    <nb-card-footer class="text-right">
                        <span style="padding-right: 20px;vertical-align: text-bottom;"> Back to login</span>
                    </nb-card-footer>
                  </nb-card>
                </nb-card-back>
              </nb-flip-card>
              </div>
        </div>
    </nb-layout-column>
    <nb-layout-footer fixed style="font-size:30px;font-size:18px;font-family: 'Exo', sans-serif;">
        Developed by Devesh Chatuphale
    </nb-layout-footer>
  </nb-layout>