<nb-accordion multi>
    <nb-accordion-item>
      <nb-accordion-item-header>
        Theme settings
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <nb-select placeholder="Info" status="info">
            <nb-option value="default">default</nb-option>
            <nb-option value="dark">dark</nb-option>
            <nb-option value="cosmic">cosmic</nb-option>
            <nb-option value="4">Option 4</nb-option>
          </nb-select>
      
      </nb-accordion-item-body>
    </nb-accordion-item>
  
    <nb-accordion-item>
      <nb-accordion-item-header>
        Alert settings
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        Email alert for tasks <nb-toggle status="success"></nb-toggle>

        SMS alert for tasks <nb-toggle status="success"></nb-toggle>
      </nb-accordion-item-body>
    </nb-accordion-item>
  
    <nb-accordion-item>
      <nb-accordion-item-header>
        Change password
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
  